.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  .faq-container h1 {
    color: maroon;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .faq-item {
    background: wheat;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: maroon;
  }
  
  .faq-toggle {
    font-size: 20px;
  }
  
  .faq-answer {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    color: black;
    text-align: left;
    background: #fff;
    border-radius: 5px;
  }
  
  .faq-item:hover {
    background: #E6C78D;
  }
  