@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  font-family: Cinzel-Decorative;
}

body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%;
  margin: auto;
}