.shop-by-gender {
    text-align: center;
    padding: 70px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .tabs button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 15px;
    color: #555;
    font-weight: bold;
  }
  
  .tabs button.active {
    border-bottom: 2px solid #62041C; /* Highlight active tab */
    color: #62041C;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product-card {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
  }
  .product-card:hover{
    background-color:#bfbbbb38;
  }
  
  .product-image {
    width: 100%;
    border-radius: 8px;
  }
  
  
  .product-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
  }
  